# Logs
logs

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE
.idea/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
